body {
    background-color: white;
    font-family: 'Arial', 'sans-serif';
    font-weight: lighter;
    line-height: 150%;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.6em;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
}

button {
    background-color: #E99002;
    border: solid 2px white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    font-size: 1.5em;
    cursor: pointer;
}

#navigation {
    background-color: #333333;
    display: flex;
    color: white;
    font-size: 0.9em;
    padding-left: 100px;
}

#navigation a{
    padding-left: 30px;
    padding-top: 10px;
    display: inline;
    color: white;
    text-decoration: none;
}

#navigation a:last-child {
    text-align:left;
    padding-top: 10px;
    padding-left: 0px;
}

a:visited {
    color: white;
    text-decoration: none;
}

#navigation img:nth-last-child(2) {
    margin-left: 48%;
    margin-top: 12px;
    width: 17px;
    height: 23px;
}

#banniere {
    background-color: #0093C8;
    display: block;
    padding-bottom: 20px;
}

#banniere h1 {
    color: rgb(255, 255, 255);
    margin-left: 700px;
}

#banniere img:first-child {
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}

#banniere img:nth-child(2){
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 10px;
}

span.clear {
    clear: left; display: block;
}

#banniere button {
    margin-left: 775px;
    margin-top: 30px;
}

#punchline{
    text-align: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

#fourQualities {
    background-color: #0093C8;
    text-align: justify;
    color: white;
}

#fourONETWO {
    display: flex;
}

#fourTHREEFOUR {
    display: flex;
    padding-bottom: 80px;
}

#un {
    margin-left: 200px;
    margin-right: 30px;
    width: 1260px;
}

#deux {
    margin-right: 200px;
    width: 1260px;
}

#trois {
    margin-left: 200px;
    margin-right: 30px;
    width: 1260px;
}

#quatre {
    margin-right: 200px;
    width: 1260px;
}

#secondePunchline {
    margin-top: -30px;
    margin-bottom: 10px;
}

#secondePunchline h2 {
    text-align: center;
    color: rgb(116, 113, 113);
    font-size: 1.5em;
}

#partenaires {
    background-color: #EEEEEE;
}

#partenaires img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boutonsBottom {
    display: flex;
    float:left;
    margin-left : 640px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.blueButton {
    background-color: #165882;
}

#navFooter {
    background-color: #333333;
    display: flex;
    color: white;
    font-size: 0.9em;
    padding-bottom: 1.5%;
}

#navFooter a{
    padding-top: 10px;
    display: inline;
    color: white;
    text-decoration: none;
}

#navFooter a:first-child {
    margin-left: 20px;
}

#navFooter a:last-child {
    text-align:left;
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 65%;
}

#navFooter p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}